- for comment in @advertisement.comment
  %div{ :class => "comment#{comment.id}" }
    .content
      = comment.content
    %p
      - if can? :update, comment
        = link_to "Edit", edit_comment_path(comment)
      - if can? :destroy, comment
        | #{link_to "Destroy", comment_path(comment), :method => :delete, :confirm => "Are you sure?", :remote => true}





