-@users.each do |user|
  %p=user.email
  -if can? :destroy, user
    =link_to "delete", user_path(user),:method=>:delete
  -if can? :update, user
    =link_to "edit", edit_user_path(user)
  =link_to "show", user_path(user)

%p You signed as
-if current_user
  =current_user.email