%div.container

  %p=@user.login
  %p=@user.zip
  %p=@user.address
  %p=@user.city
  %p=@user.state
  %p=@user.country
  %p=@user.bday
  %p=@user.full_name

  = image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@user.latitude}%2C#{@user.longitude}"
  %br
  = link_to "new advertisement", new_advertisement_path
  %p=@user.advertisement.count
  -@user.advertisement.each do |advert|
    %p=advert.content
    %p=advert.author
    =image_tag advert.image.thumb.url
    =link_to "Show", advertisement_path(advert)
    =link_to "Edit", edit_advertisement_path(advert)
    =link_to "Delete", advertisement_path(advert),:method=>:delete