<h1>Advertisements#update</h1>
<p>Find me in app/views/advertisements/update.html.erb</p>
<%= link_to "Back", :back %>
	<p>
		<h3>
			Fill the form to add your hotel
		</h3>
	</p>
<%= form_for @advertisement, :html => { :multipart => true } do |f| %>
	<%= render "fields", f: f %>
	<br />
 <%= f.submit "Save changes" %>
 <% end %>
