%p=current_user.login
%p=current_user.zip
%p=current_user.address
%p=current_user.city
%p=current_user.state
%p=current_user.country
%p=current_user.bday
%p=current_user.full_name
%p=current_user.longitude
%p=current_user.latitude
= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@user.latitude}%2C#{@user.longitude}"

= link_to( "sign out", destroy_user_session_path, :method=> :delete)
