%p=@user.login
%p=@user.zip
%p=@user.address
%p=@user.city
%p=@user.state
%p=@user.country
%p=@user.bday
%p=@user.full_name
%p=@user.longitude
%p=@user.latitude
= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@user.latitude}%2C#{@user.longitude}"

= link_to( "sign out", destroy_user_session_path, :method=> :delete)
